<div class="card">
  <div class="card-body">
    <h2 class="card-title">User info</h2>
    <% if user && user.profile_image.attached? %>
      <%= image_tag user.profile_image.variant(resize: "50x50"), size: "50x50" %>
    <% end %>
    <% if user %>
      <p><%= user.name %></p>
      <p><%= user.introduction %></p>
      <% if user.id == current_user.id %>
        <%= link_to edit_user_path(user), class: 'edit-user-link' do %>
          <i class="fas fa-user-cog"></i> Edit Profile
        <% end %>
      <% else %>
        <%= link_to '', edit_user_path(user) %>
      <% end %>
    <% end %>
  </div>
</div>
